<div class="main-div">

  <div *ngIf="info.token; else loggedOut" class="inside-divs">

    
    <form name="filter" (ngSubmit)="doFilter()" #f="ngForm">
      <div class="form-group">
        <input type="text" placeholder="Filter" [(ngModel)]="filter.keyWord" name="detail" #detail="ngModel" required class="form-control">
      </div>
      <input type="submit" value="Find" class="form-submit">
    </form>
    <br>
    <button (click) = "toggleEdit()" *ngIf="info.role == 'ADMIN'">Toggle edit form</button>
    <div *ngIf="toggledEdit">
      <form name="form" (ngSubmit)="add()" #f="ngForm" ngNativeValidate>
        <div class="form-group">
          <input type="text" [(ngModel)]="form.detailId" name="detail id" placeholder="Detail id" #detail="ngModel" pattern={{detailsIdsCheck}} title="No such detail id in database" required class="form-control">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="form.carBrandId" placeholder="Car brand id" name="carBrandId" #carBrand="ngModel" pattern={{carBrandsIdsCheck}} required class="form-control">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="form.carModelId" placeholder="Car model id" name="carModelId" #carModel="ngModel" pattern={{carModelsIdsCheck}} required class="form-control">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="form.price" placeholder="Price" name="price" #price="ngModel" pattern="\d+(.\d+)?" title="Incorrect format!" required class="form-control">
        </div>
        <input type="submit" value="Add" class="form-submit">
      </form>
    </div>
  </div>
  <div class="inside-divs">
    <table class="table-class">
      <thead>
          <tr>
              <th *ngIf="info.role == 'ADMIN'">Id</th>
              <th>Detail</th>
              <th>Car brand</th>
              <th>Car model</th>
              <th>Price</th>
          </tr>
      </thead>
    
      <tbody>
        <tr *ngFor = "let IterOffers of offers?.getOffers(this.keyWord)" (dblclick)="setValues(IterOffers.id, IterOffers.detail, IterOffers.carBrand, IterOffers.carModel, IterOffers.price)" (mouseleave)="putEditField(IterOffers.id)" (mouseenter)="showDeleteButton(IterOffers.id)"> 
          <td *ngIf="info.role == 'ADMIN'">
            <label>{{IterOffers.id}}</label>
          </td>
          <td>
            <!-- != to == -->
            <label *ngIf="editField != IterOffers.id || info.role != 'ADMIN'; else editDI">{{IterOffers.detail.detailName}}</label>
            <ng-template #editDI>
              <input [(ngModel)]="putForm.detailName" name="putDetailName" class="table-input" #putDetailName="ngModel" value="{{IterOffers.detail.detailName}}">
            </ng-template>
          </td> 
          <td>
            <label *ngIf="editField != IterOffers.id || info.role != 'ADMIN'; else editCB">{{IterOffers.carBrand.carBrandName}}</label>
            <ng-template #editCB>
              <input type="text" class="table-input" [(ngModel)]="putForm.carBrandName" name="putCarBrandName" #putCarBrandName="ngModel" value="{{IterOffers.carBrand.carBrandName}}">
            </ng-template>
          </td>
          <td>
            <label *ngIf="editField != IterOffers.id || info.role != 'ADMIN'; else editCM">{{IterOffers.carModel.carModelName}}</label>
            <ng-template #editCM>
              <input type="text" class="table-input" [(ngModel)]="putForm.carModelName" name="putCarModelName" #putCarModelName="ngModel" value="{{IterOffers.carModel.carModelName}}">
            </ng-template>
          </td>
          <td>
            <label *ngIf="editField != IterOffers.id || info.role != 'ADMIN'; else editP">{{IterOffers.price}}</label>
            <ng-template #editP>
              <input type="text" class="table-input" [(ngModel)]="putForm.price" name="putCarPrice" #putCarPrice="ngModel" value="{{IterOffers.price}}">
            </ng-template>
          </td>
          <!-- == to != -->
          <td><button class="table-button" (click)="delete(IterOffers.id)" *ngIf="info.role == 'ADMIN' && deleteVisability == IterOffers.id">Delete</button></td>
          <!-- != to == -->
        </tr>
      </tbody>
    
    </table>
  </div>
  <ng-template #loggedOut>
    Please login.
  </ng-template>
</div>

<!-- <header *ngIf="info.token"></header>
  <h5>Hello, {{info.username}}, welcome to auto details shop!</h5>
</header> -->
<!-- <div *ngIf="info.token; else loggedOut" class="divClass"></div> -->