.main-div{
display: flex;
justify-content: center;
}

.inside-divs{
margin: 50px;
}

.form-submit{
display: block;
padding: 1em;
width: 100%;
border: 0;
color: rgba(14, 13, 13, 0.34);
background-color: #fff;
cursor: pointer;
font-size: .75em;
font-weight: 600;
transition: 0.4s;
}

.form-control{
flex: 1;
width: 80%;
padding: 1em;
border: 0;
color: gray;
font-size: 1rem;
margin: 5px;
}

.table-class{
font-size: 25px;
background-color: #A9A9A9;
padding: 5px;
box-shadow: 10px 5px 5px gray;
}


.table-input{
border: 0;
color: gray;
font-size: 1rem;
margin: 5px;
}

.table-button{
padding: 1em;
width: 100%;
border: 0;
color: rgba(14, 13, 13, 0.34);
background-color: #fff;
cursor: pointer;
font-size: .75em;
font-weight: 600;
}

.form-submit:hover{
    background-color: rgba(14, 13, 13, 0.23);
    }