<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users list</title>
    <style>
      .divClass{
        display: flex;
      }
      .insideDivs{
        margin: 50px;
      }
      header{
        margin-left: 100px;
      }
    </style>
  </head>
  <body>
    <header *ngIf="info.role == 'ADMIN'">
      <h5>Hello, {{info.username}}, welcom to users list!</h5>
    </header>
    <div *ngIf="info.role == 'ADMIN'; else loggedOut" class="divClass">
      <div class="insideDivs">
        <button class="btn btn-secondary" (click)="logout()">Logout</button>
      </div>
      <div class="insideDivs">
        <table>
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Username</th>
                  <th>First name</th>
                  <th>Second name</th>
              </tr>
          </thead>
        
          <tbody>
              <tr *ngFor = "let IterUsers of users?.getUsers()" >
                  <td><span>{{IterUsers.id}}</span></td>
                  <td><span>{{IterUsers.username}}</span></td>
                  <td><span>{{IterUsers.firstName}}</span></td>
                  <td><span>{{IterUsers.lastName}}</span></td>
                  <td><button class="btn btn-secondary" (click)="delete(IterUsers.id)">Delete</button></td>
              </tr>
          </tbody>
        
        </table>
      </div>
    </div>
    <ng-template #loggedOut>
      Please login.
    </ng-template>
  </body>
</html>
